<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Application</title>
</head>
<body>
    <p>
         We are a <a href="C:\Users\Vijay Kiran\PycharmProjects\hackathon\main.py">team</a> of professionals working
         hard to provide free learning content.
    </p>
</body>
</html>


#the first code

<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8> </head>
    <body>
        <h1>My Website</h1>

        <button> <a href="/my-link/">Click me</a></button>
    </body>
